h2{
	background:pink;
	font-size:60px;
	font-family:'Anton', sans-serif;
	text-align: left
}

ol li{
	display:list-item;
	margin:50px;
	float:left list-item;
}

img{
	height:250px;
	width:250;
	border:10px;
	border-radius:40px;
	margin-top:10%;
	margin-right:2%;
	margin-left:2%;
	background:pink;
	float:right;
	border-style: solid;
	border-color:black;
}

